*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    background : linear-gradient( to right, #7da2ec, #bbe5ff);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.form-container{
    background-color: #ffff;
    padding: 3vw;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}
#fb-text{
    padding-left: 14vw;
    color: blue;
}
